html { scroll-behavior: smooth; }

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

header {
    height: 75px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

#logo1{
    height: 28px;
    width: 228px;
    justify-content: left;
    display: flex;
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: center;
    margin-left: 700px;
    height: 75px;
}

ul, li {
    list-style: none;
    padding: 35px;
    display: flex;
    justify-content: space-evenly;
    color: #030303;
    font-size: 16px;
    align-items: center;
}

a {
    text-decoration: none; 
    color: #030303
}

a:hover {
    color: #FF0098;
}

#forsidebanner1{
    height: 600px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
#forsidebanner2{
    height: 600px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#banner{
    height: 600px;
    width: 100%;
}

#ellemagasin{
    height: 900px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

#bladet{
    height: 700px;
    width: auto;
    margin: 100px;
}

#støtvia{
    height: 500px;
    width: 100%;
    background-color: #FFE6FF;
}

#nyheder{
    height: 957px;
    width: auto;
    background-color: rgb(255, 255, 255);
}
#nyhederbillede{
    height: 957px;
    width: auto;
}

#gårtil{
    height: 700px;
    width: 100%;
    background-color: #FDDFEE;
}

#kommendeevent{
    display: flex;
    height: 800px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

#flereevents{
    height: 500px;
    width: auto;
    justify-content: center;
    align-items: center;
}

#om{
    display: flex;
    height: 500px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: right;
    align-items: center;
    margin-left: -40px;
}

#tegning{
    display: flex;
    height: 450px;
    width: auto;
}

#girltalk{
    height: 1000px;
    width: 100%;
    background-color: #FFE6FF;
    display: flex;

}

h2{
    justify-content: center;
    align-items: center;
    display: flex;
}

#boblekasse{
    display: flex;
    justify-content: center;
    align-items: end;
}

#trine{
    height: 700px;
    width: 350px;
    border: #030303 solid;
    margin: 25px;
}

#camilla{
    height: 700px;
    width: 350px;
    border: #030303 solid;
    margin: 25px;
}

#charlotte{
    height: 700px;
    width: 350px;
    border: #030303 solid;
    margin: 25px;
}

#lærke{
    height: 700px;
    width: 350px;
    border: #030303 solid;
    margin: 25px;
}

.boble{
    height: auto;
    width: 350px;
}

#kort{
    display: flex;
    height: 800px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

#kortbillede{
    height: 700px;
    width: auto;
}

footer{
    height: 555px;
    width: 100%;
    background-color: #FFE6FF;
}

#footerpng{
    height: 555px;
    width: auto;
}