html { scroll-behavior: smooth; }

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

header {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 250, 252);
}

#logo1{
    height: 28px;
    width: 228px;
    justify-content: left;
    display: flex;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    position: sticky;
}

ul, li {
    list-style: none;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    color: #030303;
    font-size: 16px;
    align-items: center;
}

a {
    text-decoration: none; 
    color: #030303
}

a:hover {
    color: #FF0098;
}

#forsidebanner1{
    height: 600px;
    width: 100%;
    background-color: blue;
}
#forsidebanner2{
    height: 600px;
    width: 100%;
    background-color: blue;
}

#banner{
    height: 600px;
    width: 100%;
}

#ellemagasin{
    height: 900px;
    width: 100%;
    background-color: rgb(252, 250, 252);
    align-items: center;
}

#bladet{
    height: 700px;
    width: auto;
    margin: 100px;
}

#støtvia{
    height: 500px;
    width: 100%;
    background-color: #FFE6FF;
}

#nyheder{
    height: 957px;
    width: auto;
    background-color: rgb(252, 250, 252);
}
#nyhederbillede{
    height: 957px;
    width: auto;
}

#gårtil{
    height: 700px;
    width: 100%;
    background-color: #FDDFEE;
}

#kommendeevent{
    display: flex;
    height: 800px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 250, 252);
}

#flereevents{
    height: 500px;
    width: auto;
    justify-content: center;
    align-items: center;
}

#om{
    height: 100px;
    width: 100%;
    background-color: red;
}

#girltalk{
    height: 100px;
    width: 100%;
    background-color: blue;
}

#kort{
    height: 100px;
    width: 100%;
    background-color: red;
}

footer{
    height: 555px;
    width: 100%;
    background-color: #FFE6FF;
}

#footerpng{
    height: 555px;
    width: auto;
}