html { scroll-behavior: smooth; }

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

header {
    height: 75px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

#logo1{
    height: 28px;
    width: 228px;
    justify-content: left;
    display: flex;
    margin-left: 10px;
}

#kurv{
    height: 45px;
    width: auto;
    display: flex;
    margin-left: 200px;
}

nav {
    display: flex;
    justify-content: center;
    margin-left: 700px;
    height: 75px;
}

ul, li {
    list-style: none;
    padding: 35px;
    display: flex;
    justify-content: space-evenly;
    color: #030303;
    font-size: 16px;
    align-items: center;
}

a {
    text-decoration: none; 
    color: #030303
}

a:hover {
    color: #FF0098;
}

#forsidebanner1{
    height: 600px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.slideshow-container {
    position: relative;
  }
  
  .mySlides {
    display: none;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  img {
      width: 100%;
      height: auto;
  }

#forsidebanner2{
    height: 600px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#banner{
    height: 600px;
    width: 100%;
}

#ellemagasin{
    height: 900px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
}

#tekstkasse{
    height: 750px;
    width: 950px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

#magasinoverskrift{
    font-size: 30px;
    justify-content: center;
    margin-top: 50px;
    letter-spacing: 2px;
    display: flex;
}

#magasinunderoverskrift{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    letter-spacing: 2px;
}

#magasintekst{
    font-size: 20;
    margin-top: 110px;
    padding: 20px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.8;
    word-spacing: 5px;
}

#bladet{
    height: 700px;
    width: auto;
    margin: 100px;
}

#støtvia{
    height: 500px;
    width: 100%;
    background-color: #FFE6FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.betalingsmulighederkasser{
    height: 400px;
    width: 300px;
    margin: 70px;
    justify-content: center;
    display: flex;
    margin-top: 150px;
}

.betalingsmuligheder{
    height:250px;
    width: auto;
    display: flex;
    position: absolute;
}

.støtbesked{
    font-size: 25px;
    margin-top: 275px;
}

#nyheder{
    height: 957px;
    width: auto;
    background-color: rgb(255, 255, 255);
}

.galleri{
    width: 900px;
    display: flex;
    overflow: scroll;
}

.galleri div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}
.galleri div img{
    width: 100%;
    filter: grayscale(100%); 
    transition: transform 0.5s;

}
.galleri::-webkit-scrollbar{
    display: none;
}
.galleri-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}
#backBtn, #nextBtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
}
.galleri div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

#gårtil{
    height: 700px;
    width: 100%;
    background-color: #FDDFEE;
    display: flex;
    justify-content: center;
}

#gårtiloverskrift{
    font-size: 30px;
    position: absolute;
    margin-top: 50px;
    letter-spacing: 3px;
    line-height: 1.8;
    word-spacing: 5px;
}

#gårtilovertekst{
    font-size: 20px;
    position: absolute;
    margin-top: 100px;
    letter-spacing: 3px;
    line-height: 1.8;
    word-spacing: 5px;
}

.gårtilkasser{
    height: 600px;
    width: 500px;
    display: flex;

}

.gårtiltal{
    font-size: 40px;
    text-align: left;
    letter-spacing: 3px;
    line-height: 1.8;
    word-spacing: 5px;
    position: absolute;
    margin-top: 150px;
    padding: 50px;
}

.gårtiltekst{
    font-size: 17px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.8;
    word-spacing: 5px;
    margin-top: 250px;
    padding: 30px;
}

#kommendeevent{
    display: flex;
    height: 800px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

#flereevents{
    height: 500px;
    width: auto;
    justify-content: center;
    align-items: center;
}

#om{
    display: flex;
    height: 500px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

#omkasse{
    height: 500px;
    width: auto;
    justify-content: center;
    display: flex;
}

#omoverskrift{
    font-size: 40px;
    display: flex;
    position: absolute;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.8;
    word-spacing: 5px;
}

#omunderoverskrift{
    font-size: 20px;
    display: flex;
    position: absolute;
    text-align: center;
    margin-top: 90px;
    letter-spacing: 3px;
    line-height: 1.8;
    word-spacing: 5px;
}

#omtekst{
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 15px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.8;
    word-spacing: 5px;
}

#tegning{
    display: flex;
    height: 450px;
    width: auto;
}

#girltalk{
    height: 1100px;
    width: 100%;
    background-color: #FFE6FF;
    display: flex;
    justify-content: center;
}

#girltalkoverskrift{
    font-size: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    margin-top: 60px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.8;
    word-spacing: 5px;
}

#girltalkovertekst{
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    margin-top: 140px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.8;
    word-spacing: 5px;
}

#boblekasse{
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

#trine{
    height: 700px;
    width: 350px;
    margin: 25px;
}

#camilla{
    height: 700px;
    width: 350px;
    margin: 25px;
}

#charlotte{
    height: 700px;
    width: 350px;
    margin: 25px;
}

#lærke{
    height: 700px;
    width: 350px;
    margin: 25px;
}

.boble{
    height: auto;
    width: 350px;
}

.navne{
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 15px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.8;
    word-spacing: 5px;
}

.bobletekst{
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 15px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.8;
    word-spacing: 5px;
}

#kort{
    display: flex;
    height: 800px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

#kortbillede{
    height: 700px;
    width: auto;
}

footer{
    height: 555px;
    width: 100%;
    background-color: #FFE6FF;
}

#footerpng{
    height: 555px;
    width: auto;
}